<section class="vision-section">
    <div class="container">
      <div class="section-header text-center mb-5">
        <h2 class="section-title">Our Vision</h2>
        <div class="underline"></div>
        <p class="section-subtitle">Building language proficiency through immersion and practice</p>
      </div>
      
      <div>
        <p class="vision-text">At Fluentia Language School, we envision a world where language learning is not just a skill but an exciting journey. We strive to transform traditional language education by making it fun, interactive, and immersive, ensuring learners build confidence through real-life communication.
          Our mission is to make quality language learning accessible and affordable for everyone. By breaking barriers in education, we empower individuals to connect globally, unlock new opportunities, and thrive in an international world.
          Through innovative teaching methods, expert guidance, and a supportive learning community, we aim to create global citizens who can communicate effortlessly, embrace diverse cultures, and succeed in today’s interconnected world. 
          </p>
      </div>
    </div>
  </section>