// --------------------------------------------------------------- Core Website Variables --------------------------------------------------------------------------

// BACKGROUND COLORS
$background-color-primary: #ffffff;
$background-color-secondary: #f6f3fa;
$background-color-footer: #1a2533;

// TEXT COLORS
$text-color-primary: #333333;
$text-color-secondary: #555555;
$text-color-light: #ffffff;
$text-color-dark: #000000;
$text-color-heading-primary: #5d3a9b;
$text-color-heading-hover: #472c76;
$text-color-heading-plain: #333333;
$text-color-success: #28a745;
$text-color-dark-gray: #343a40;
$text-color-light-gray: #f8f9fa;

// BUTTONS AND ICONS
$btn-color-primary: #5d3a9b;
$btn-color-primary-hover: #472c76;

$icon-color-primary: #5d3a9b;
$icon-color-primary-hover: #472c76;

// Underlines
$underline-blue: #3498db;
$underline-red: #e74c3c;

// Links
$link-color: #b39ddb;
$link-hover-color: #7149b9;
$link-active-color: #7459a5;

// SHADOWS AND OVERLAYS
$shadow-color-primary: rgba(0, 0, 0, 0.6);
$shadow-blur-primary: 4px;
$shadow-offset-x-primary: 2px;
$shadow-offset-y-primary: 2px;

$shadow-color-secondary: rgba(0, 0, 0, 0.3);
$shadow-blur-secondary: 10px;

$overlay-background: rgba(0, 0, 0, 0.5);
