@use "styles/variables" as *;
@use "bootstrap/scss/bootstrap" with (
  $primary: $btn-color-primary
);
@use "@fontsource/poppins" as *;

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: $background-color-secondary;
}
