@use "../../../styles/variables" as *;
@use "../../../styles/utilities" as *;

.faq-section {
  padding: 90px 0;
  background-color: $background-color-secondary;

  .section-title {
    margin-bottom: 2rem;

    h2 {
      font-size: 2.5rem;
      font-weight: bold;
      color: $text-color-heading-primary;

      @media (max-width: 768px) {
        font-size: 2rem;
      }
    }

    .underline {
      @include underline-style-blue;
    }

    .page-subtitle {
      color: $text-color-secondary;
      font-size: 1.1rem;
      margin-top: 1rem;

      @media (max-width: 768px) {
        font-size: 1rem;
      }
    }
  }

  .accordion {
    margin-top: 2rem;

    .accordion-item {
      border: none;
      background-color: transparent;
      margin-bottom: 1rem;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
      border-radius: 12px !important;
      overflow: hidden;
      transition: all 0.3s ease;

      &:hover {
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
      }

      .accordion-header {
        .accordion-button {
          padding: 1.25rem 1.5rem;
          font-weight: 600;
          font-size: 1.2rem;
          color: $text-color-primary;
          background-color: $background-color-primary;
          box-shadow: none;
          border-radius: 12px !important;

          &:not(.collapsed) {
            color: $text-color-heading-primary;
            // background-color: rgba($text-color-heading-primary, 0.05);
            border-left: 4px solid $text-color-heading-primary;
          }

          &:focus {
            box-shadow: none;
            border-color: rgba($text-color-heading-primary, 0.5);
          }

          &::after {
            background-size: 16px;
            width: 16px;
            height: 16px;
            transition: all 0.2s ease;
          }

          @media (max-width: 768px) {
            font-size: 1.1rem;
            padding: 1.2rem;
          }
        }
      }

      .accordion-body {
        padding: 1.25rem 1.5rem;
        color: text-secondary;
        line-height: 1.6;
        background-color: $background-color-primary;
        border-top: 1px solid rgba(0, 0, 0, 0.05);

        @media (max-width: 768px) {
          padding: 1.2rem;
        }
      }
    }
  }
}
